# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Data
histology_segmentation_training/data/OME-TIFFs/
histology_segmentation_training/data/download/OME-TIFFs.zip
histology_segmentation_training/data/__MACOSX/
histology_segmentation_training/data/download/img1.zip
histology_segmentation_training/data/download/img2.zip
histology_segmentation_training/data/download/img_labels.zip

# outputs
mlruns/models/
mlruns/test_metrics_per_image/
mlruns/0/
mlruns/.trash/
mlruns/best*
out/
best_models/
histology_segmentation_training/results/

# Jetbrains IDE
mlruns/0/*
.idea/
/seg_training_main/data/
/seg_training_main/data/download/
/seg_training_main/data/images/
/seg_training_main/data/images/consep_1.png
/seg_training_main/data/images/consep_2.png
/seg_training_main/data/images/consep_3.png
/seg_training_main/data/images/consep_4.png
/seg_training_main/data/images/consep_5.png
/seg_training_main/data/images/consep_6.png
/seg_training_main/data/images/consep_7.png
/seg_training_main/data/images/consep_8.png
/seg_training_main/data/images/consep_9.png
/seg_training_main/data/images/consep_10.png
/seg_training_main/data/images/consep_11.png
/seg_training_main/data/images/consep_12.png
/seg_training_main/data/images/consep_13.png
/seg_training_main/data/images/consep_14.png
/seg_training_main/data/images/consep_15.png
/seg_training_main/data/images/consep_16.png
/seg_training_main/data/images/crag_1.png
/seg_training_main/data/images/crag_2.png
/seg_training_main/data/images/crag_3.png
/seg_training_main/data/images/crag_4.png
/seg_training_main/data/images/crag_5.png
/seg_training_main/data/images/crag_6.png
/seg_training_main/data/images/crag_7.png
/seg_training_main/data/images/crag_8.png
/seg_training_main/data/images/crag_9.png
/seg_training_main/data/images/crag_10.png
/seg_training_main/data/images/crag_11.png
/seg_training_main/data/images/crag_12.png
/seg_training_main/data/images/crag_13.png
/seg_training_main/data/images/crag_14.png
/seg_training_main/data/images/crag_15.png
/seg_training_main/data/images/crag_16.png
/seg_training_main/data/images/crag_17.png
/seg_training_main/data/images/crag_18.png
/seg_training_main/data/images/crag_19.png
/seg_training_main/data/images/crag_20.png
/seg_training_main/data/images/crag_21.png
/seg_training_main/data/images/crag_22.png
/seg_training_main/data/images/crag_23.png
/seg_training_main/data/images/crag_24.png
/seg_training_main/data/images/crag_25.png
/seg_training_main/data/images/crag_26.png
/seg_training_main/data/images/crag_27.png
/seg_training_main/data/images/crag_28.png
/seg_training_main/data/images/crag_29.png
/seg_training_main/data/images/crag_30.png
/seg_training_main/data/images/crag_31.png
/seg_training_main/data/images/crag_32.png
/seg_training_main/data/images/crag_33.png
/seg_training_main/data/images/crag_34.png
/seg_training_main/data/images/crag_35.png
/seg_training_main/data/images/crag_36.png
/seg_training_main/data/images/crag_37.png
/seg_training_main/data/images/crag_38.png
/seg_training_main/data/images/crag_39.png
/seg_training_main/data/images/crag_40.png
/seg_training_main/data/images/crag_41.png
/seg_training_main/data/images/crag_42.png
/seg_training_main/data/images/crag_43.png
/seg_training_main/data/images/crag_44.png
/seg_training_main/data/images/crag_45.png
/seg_training_main/data/images/crag_46.png
/seg_training_main/data/images/crag_47.png
/seg_training_main/data/images/crag_48.png
/seg_training_main/data/images/crag_49.png
/seg_training_main/data/images/crag_50.png
/seg_training_main/data/images/crag_51.png
/seg_training_main/data/images/crag_52.png
/seg_training_main/data/images/crag_53.png
/seg_training_main/data/images/crag_54.png
/seg_training_main/data/images/crag_55.png
/seg_training_main/data/images/crag_56.png
/seg_training_main/data/images/crag_57.png
/seg_training_main/data/images/crag_58.png
/seg_training_main/data/images/crag_59.png
/seg_training_main/data/images/crag_60.png
/seg_training_main/data/images/crag_61.png
/seg_training_main/data/images/crag_62.png
/seg_training_main/data/images/crag_63.png
/seg_training_main/data/images/crag_64.png
/seg_training_main/data/images/dpath_1.png
/seg_training_main/data/images/dpath_2.png
/seg_training_main/data/images/dpath_3.png
/seg_training_main/data/images/dpath_4.png
/seg_training_main/data/images/dpath_5.png
/seg_training_main/data/images/dpath_6.png
/seg_training_main/data/images/dpath_7.png
/seg_training_main/data/images/dpath_8.png
/seg_training_main/data/images/dpath_9.png
/seg_training_main/data/images/dpath_10.png
/seg_training_main/data/images/dpath_11.png
/seg_training_main/data/images/dpath_12.png
/seg_training_main/data/images/dpath_13.png
/seg_training_main/data/images/dpath_14.png
/seg_training_main/data/images/dpath_15.png
/seg_training_main/data/images/dpath_16.png
/seg_training_main/data/images/dpath_17.png
/seg_training_main/data/images/dpath_18.png
/seg_training_main/data/images/dpath_19.png
/seg_training_main/data/images/dpath_20.png
/seg_training_main/data/images/dpath_21.png
/seg_training_main/data/images/dpath_22.png
/seg_training_main/data/images/dpath_23.png
/seg_training_main/data/images/dpath_24.png
/seg_training_main/data/images/dpath_25.png
/seg_training_main/data/images/dpath_26.png
/seg_training_main/data/images/dpath_27.png
/seg_training_main/data/images/dpath_28.png
/seg_training_main/data/images/dpath_29.png
/seg_training_main/data/images/dpath_30.png
/seg_training_main/data/images/dpath_31.png
/seg_training_main/data/images/dpath_32.png
/seg_training_main/data/images/dpath_33.png
/seg_training_main/data/images/dpath_34.png
/seg_training_main/data/images/dpath_35.png
/seg_training_main/data/images/dpath_36.png
/seg_training_main/data/images/dpath_37.png
/seg_training_main/data/images/dpath_38.png
/seg_training_main/data/images/dpath_39.png
/seg_training_main/data/images/dpath_40.png
/seg_training_main/data/images/dpath_41.png
/seg_training_main/data/images/dpath_42.png
/seg_training_main/data/images/dpath_43.png
/seg_training_main/data/images/dpath_44.png
/seg_training_main/data/images/dpath_45.png
/seg_training_main/data/images/dpath_46.png
/seg_training_main/data/images/dpath_47.png
/seg_training_main/data/images/dpath_48.png
/seg_training_main/data/images/dpath_49.png
/seg_training_main/data/images/dpath_50.png
/seg_training_main/data/images/dpath_51.png
/seg_training_main/data/images/dpath_52.png
/seg_training_main/data/images/dpath_53.png
/seg_training_main/data/images/dpath_54.png
/seg_training_main/data/images/dpath_55.png
/seg_training_main/data/images/dpath_56.png
/seg_training_main/data/images/dpath_57.png
/seg_training_main/data/images/dpath_58.png
/seg_training_main/data/images/dpath_59.png
/seg_training_main/data/images/dpath_60.png
/seg_training_main/data/images/dpath_61.png
/seg_training_main/data/images/dpath_62.png
/seg_training_main/data/images/dpath_63.png
/seg_training_main/data/images/dpath_64.png
/seg_training_main/data/images/dpath_65.png
/seg_training_main/data/images/dpath_66.png
/seg_training_main/data/images/dpath_67.png
/seg_training_main/data/images/dpath_68.png
/seg_training_main/data/images/dpath_69.png
/seg_training_main/data/images/glas_1.png
/seg_training_main/data/images/glas_2.png
/seg_training_main/data/images/glas_3.png
/seg_training_main/data/images/glas_4.png
/seg_training_main/data/images/glas_5.png
/seg_training_main/data/images/glas_6.png
/seg_training_main/data/images/glas_7.png
/seg_training_main/data/images/glas_8.png
/seg_training_main/data/images/glas_9.png
/seg_training_main/data/images/glas_10.png
/seg_training_main/data/images/glas_11.png
/seg_training_main/data/images/glas_12.png
/seg_training_main/data/images/glas_13.png
/seg_training_main/data/images/glas_14.png
/seg_training_main/data/images/glas_15.png
/seg_training_main/data/images/glas_16.png
/seg_training_main/data/images/glas_17.png
/seg_training_main/data/images/glas_18.png
/seg_training_main/data/images/glas_19.png
/seg_training_main/data/images/glas_20.png
/seg_training_main/data/images/glas_21.png
/seg_training_main/data/images/glas_22.png
/seg_training_main/data/images/glas_23.png
/seg_training_main/data/images/glas_24.png
/seg_training_main/data/images/glas_25.png
/seg_training_main/data/images/glas_26.png
/seg_training_main/data/images/glas_27.png
/seg_training_main/data/images/glas_28.png
/seg_training_main/data/images/glas_29.png
/seg_training_main/data/images/glas_30.png
/seg_training_main/data/images/glas_31.png
/seg_training_main/data/images/glas_32.png
/seg_training_main/data/images/glas_33.png
/seg_training_main/data/images/glas_34.png
/seg_training_main/data/images/glas_35.png
/seg_training_main/data/images/glas_36.png
/seg_training_main/data/images/glas_37.png
/seg_training_main/data/images/glas_38.png
/seg_training_main/data/images/glas_39.png
/seg_training_main/data/images/glas_40.png
/seg_training_main/data/images/glas_41.png
/seg_training_main/data/images/glas_42.png
/seg_training_main/data/images/glas_43.png
/seg_training_main/data/images/glas_44.png
/seg_training_main/data/images/glas_45.png
/seg_training_main/data/images/glas_46.png
/seg_training_main/data/images/glas_47.png
/seg_training_main/data/images/glas_48.png
/seg_training_main/data/images/glas_49.png
/seg_training_main/data/images/glas_50.png
/seg_training_main/data/images/glas_51.png
/seg_training_main/data/images/glas_52.png
/seg_training_main/data/images/glas_53.png
/seg_training_main/data/images/glas_54.png
/seg_training_main/data/images/glas_55.png
/seg_training_main/data/images/glas_56.png
/seg_training_main/data/images/glas_57.png
/seg_training_main/data/images/glas_58.png
/seg_training_main/data/images/glas_59.png
/seg_training_main/data/images/glas_60.png
/seg_training_main/data/images/glas_61.png
/seg_training_main/data/images/pannuke_1.png
/seg_training_main/data/images/pannuke_2.png
/seg_training_main/data/images/pannuke_3.png
/seg_training_main/data/images/pannuke_4.png
/seg_training_main/data/images/pannuke_5.png
/seg_training_main/data/images/pannuke_6.png
/seg_training_main/data/images/pannuke_7.png
/seg_training_main/data/images/pannuke_8.png
/seg_training_main/data/images/pannuke_9.png
/seg_training_main/data/images/pannuke_10.png
/seg_training_main/data/images/pannuke_11.png
/seg_training_main/data/images/pannuke_12.png
/seg_training_main/data/images/pannuke_13.png
/seg_training_main/data/images/pannuke_14.png
/seg_training_main/data/images/pannuke_15.png
/seg_training_main/data/images/pannuke_16.png
/seg_training_main/data/images/pannuke_17.png
/seg_training_main/data/images/pannuke_18.png
/seg_training_main/data/images/pannuke_19.png
/seg_training_main/data/images/pannuke_20.png
/seg_training_main/data/images/pannuke_21.png
/seg_training_main/data/images/pannuke_22.png
/seg_training_main/data/images/pannuke_23.png
/seg_training_main/data/images/pannuke_24.png
/seg_training_main/data/images/pannuke_25.png
/seg_training_main/data/images/pannuke_26.png
/seg_training_main/data/images/pannuke_27.png
/seg_training_main/data/images/pannuke_28.png
/seg_training_main/data/Lizard_Labels/info.csv
/seg_training_main/data/Lizard_Labels/read_label.py
/seg_training_main/data/Lizard_Labels/README.md
/seg_training_main/data/patches/counts.csv
/seg_training_main/data/patches/images.npy
/seg_training_main/data/patches/labels.npy
/seg_training_main/data/patches/patch_info.csv
